/* * {
    background-color: var(--clrbg);
} */
/* .app-index {
    display: grid;
    grid-template-columns: 255px 1fr;
    grid-template-rows: 64px 1fr;
} */
.app-index{
    background-color: var(--clrbg);
}
.app-index .header {
    background-color: transparent;
    /* grid-row: 1;
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: 255px 2fr 1fr;
    grid-template-rows: 64px; */
}

.app-index .header .logo {
    /* justify-content: center; */
    margin-inline-start: 30px;
    gap: 10px;
    font-size: 1.4rem;
}

.app-index .header img {
    width: 2rem;
    object-fit: contain;
}

.app-index .header input {
    background-color: var(--clrbg-input);
    border-radius: 8px;
    border: none;
    margin-block: 7px;
    font-size: 1rem;
}

.app-index .header .action-buttons{
    justify-self: end;
}

.app-index .header .action-buttons > * {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}
