/* add note */

.add-note {
    padding: 40px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-note .title-input-container {
    position: absolute;
    padding: 5px 10px;
    background-color: #fff;
    left: 0;
    top: 0;
    transform: translateY(-120%);
    box-shadow: 0 0 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.add-note .title-input {
    border: none;
    transform: translate(0, 0);
}

.add-note .title-input:focus-visible {
    outline: none;
}

.add-note-cmd {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    max-width: 500px;
    height: 50px;
    background-color: white;
    box-shadow: 0 0 10px;
    border-radius: 10px;
}

.add-note-cmd input {
    width: 50%;
    height: 50%;
    border: none;
    margin-left: 10px;
}

.add-note-cmd input:focus+.title-input {
    display: block;
}

.add-note-cmd input:focus-visible {
    outline: none;
}

.add-note-types {
    position: absolute;
    right: 0;
}

.add-note .add-note-types>* {
    margin: 0 5px;
    opacity: 0.5;
}

.add-note .add-note-types>*:hover {
    opacity: 1;
}

.add-note textarea {
    resize: none;
    max-width: 200px;
    width: 200px;
    max-height: 70px;
    height: 70px;
}

.add-note img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.add-note img.add-todo-btn {
    width: 20px;
    height: 20px;
}

.add-note .note-input {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.add-note .note-input input {
    width: 200px;
}

.add-note .note-input button {
    width: fit-content;
}

.add-note .add-note-save {
    margin-top: 10px;
}