.email-list .email-preview {
    width: calc(100vw - 272px);
    height: 40px;

    color: var(--clr5);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: var(--clrbg-input);
    border-block-end: solid 1px var(--clrbg-border);
    cursor: pointer;
}

.email-list .email-preview:hover {
    box-shadow: 0px 0px 2px 0px grey;

}

.email-list .email-preview .checkboxes {
    padding: 10px;
    gap: 5px;
}

.email-list .email-preview .email-from {
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-shrink: 0;
}

.email-list .email-preview .email-subject-body {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.email-list .email-preview .email-subject-body {
    color: var(--clr4);
    flex-grow: 1;
}


.email-list .email-preview .email-sentAt {
    margin-inline-end: 20px;
    margin-inline-start: 52px;
    font-size: 12px;
}

.email-list .email-preview.unread .email-from,
.email-list .email-preview.unread .subject,
.email-list .email-preview.unread .email-sentAt {
    font-weight: bold;
}

.email-list .email-preview .email-subject-body .subject {
    color: var(--clr5);
}

.email-list .email-preview.unread {
    border-block-end: solid 1px var(--clrbg-prev-read);
    background-color: transparent;
}

.email-list .email-preview .btns button {
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.email-list .email-preview .btns button:hover {
    border-radius: 50%;
    background-color: var(--clrbg-btn1);
}

.email-list .email-preview.unread .btns button:hover {
    background-color: var(--clrbg-btn2);
}

.email-list .email-preview .btns img {
    height: 1rem;
    object-fit: contain;
}