.app-index .email-list {
    border-radius: 10px;
    background-color: var(--clr1);
    height: calc(100vh - 64px);
}

.app-index .email-sort {
    height: 42px;
}

.app-index .email-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 14px;

    margin-block-start: 42px;
}